@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu" ,sans-serif;
    box-sizing: border-box;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,252,247,1) 50%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #666;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button i{
    width: 20px;
}
.weather .weather-icon{
    width: 200px;
    padding: 23px;
    mix-blend-mode: color-burn;
    border-radius: 35px;
}
.weather h1{
    font-size: 50px;
    font-weight: 400;
}
.weather h2{
    font-size: 60px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;

}
.Humidity{
    margin-top: 10px;
}
.wind{
    margin-top: 10px;

}